
.dropdown-menu::after {
  background-color:white;
  position: absolute;
  top: 8px;
  left: 0;
  opacity: 0;
  margin: 0 0 0 -6px;
  width: 12px;
  height: 12px;
  transform: translateY(80px) scale(var(--scaleEffect)) translateX(var(--dropdownArrowOffset)) rotate(45deg);
  border-radius: 3px 0 0 0;
  box-shadow: -3px -3px 5px rgba(82,95,127,.04);
  /* transition-property: transform; */
  transition: transform 200ms ease-in-out, opacity 100ms ease-in-out;
  /* transition-delay: 200ms; */
  z-index: 2;
}
.dropdown-menu {
  z-index: 4;
  position: absolute;
  transform: translateX(-80px) scale(var(--scaleEffect));
  transition: opacity 200ms ease-in-out;
  width: 500px;
  opacity: 0;
  height: 200px;
  border: 1px solid red;
  border-radius: 10px;
  overflow: hidden;
}