:root {
  --dropdownArrowOffset: 0px;
  --dropdownOpacity: 0;
  --scaleEffect: .9;
  --dropdownPerspective: none;
  --dropdownRotation: 0deg;
}
.dropdown-arrow {
  background-color:#424a71;
  position: absolute;
  top: 5px;
  left: 0;
  opacity: var(--dropdownOpacity);
  margin: 0 0 0 -6px;
  width: 12px;
  height: 12px;
  transform-origin: translateX(var(--dropdownArrowOffset)) 0;
  transform: translateY(80px) translateX(var(--dropdownArrowOffset)) rotate(45deg);
  border-radius: 3px 0 0 0;
  box-shadow: -3px -3px 5px rgba(82,95,127,.04);
  transition: transform 200ms ease-out, all 200ms ease-in-out;
  
  z-index: 2;
}
.dropdown-menu {
  opacity: var(--dropdownOpacity);
  z-index: 4;
  position: absolute;
  margin-top: 15px;
  left: 0;
  perspective-origin: top;
  /* transform: perspective(800px); */
  /* transform: scale(var(--scaleEffect)); */
  transform: translateX(var(--dropdownOffset)) scale(var(--scaleEffect)) perspective(var(--dropdownPerspective)) ;
  /* transform: perspective(-10deg) scale(var(--scaleEffect)); */
  transition: transform 200ms ease-out, all 200ms ease-in-out;
  width: 500px;
  height: 300px;
  /* border: 1px solid red; */
  border-radius: 10px;
  overflow: hidden;
}